.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  transition: text-shadow 0.1s linear;
}
.khan__buy-link:hover {
  opacity: 0.7;
  text-shadow: 0.5px 0.5px 0.5px #1f1f1f;
}